.logo {
	/* Auto layout */
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 25.8px;
	gap: 7.59px;
	isolation: isolate;

	width: 75.88px;
	height: 75.88px;

	background: #1e3d9a;
	border-radius: 37.9412px;

	/* Inside auto layout */
	flex: none;
	order: 0;
	flex-grow: 0;
}
