@import "tailwindcss";

@theme {
	--font-serif: "DM Sans", ui-serif, system-ui, serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	--color-primary: #1e3d9a;
	--color-grey: #4b5563;
	--color-neutral-black: #1f2937;
	--color-neutral-white: #a3a5a7;
}

html,
body {
	@apply bg-white font-serif;
}
